h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.main-btn {
  display: inline-block;
  border-radius: 8px;
  background: #4e75ff;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.04em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 8px 16px;
  margin-bottom: 15px;
}

.main-btn:hover {
  background-color: #6c8cff;
}